<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>股票分析系统</title>
<!-- plugins:css -->
<link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/vendors/iconfonts/ionicons/css/ionicons.css">
<link rel="stylesheet" href="/vendors/iconfonts/typicons/src/font/typicons.css">
<link rel="stylesheet" href="/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/css/shared/style.css">
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="/css/demo_1/style.css">
<!-- End Layout styles -->
<link rel="shortcut icon" href="/images/favicon.png" />
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?3c4825162dbbdaf10022e25128368a8b";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
	<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
	</div>
	<div class="navbar-menu-wrapper d-flex align-items-center">
	  <ul class="navbar-nav">
		<li class="nav-item font-weight-semibold d-none d-lg-block">请联系 : 15210092031</li>
	  </ul>
	  <form class="ml-auto search-form d-none d-md-block" action="#">
		<div class="form-group">
		  <input type="search" id="stock-input" class="form-control"  placeholder="请输入股票id或者名称" data-provide="typeahead"  autocomplete="off"/>
		</div>
	  </form>
	  <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown">
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
		  </a>
		  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
		  </div>
		</li>
		<li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
		</li>
	  </ul>
	  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
		<span class="mdi mdi-menu"></span>
	  </button>
	</div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
	<!-- partial:partials/_sidebar.html -->
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
	  <ul class="nav">
		<li class="nav-item">
		  <a class="nav-link" href="/">
			<i class="menu-icon typcn typcn-document-text"></i>
			<span class="menu-title">行情数据</span>
		  </a>
		</li>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/statics">
			<i class="menu-icon typcn typcn-shopping-bag"></i>
			<span class="menu-title">图形统计数据</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/forms">
			<i class="menu-icon typcn typcn-th-large-outline"></i>
			<span class="menu-title">列表统计数据</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/news">
			<i class="menu-icon typcn typcn-bell"></i>
			<span class="menu-title">公告新闻</span>
		  </a>
		</li>
	  </ul>
	</nav>
	<!-- partial -->
	<div class="main-panel">
	  <div class="content-wrapper">
		<!-- Page Title Header Ends-->
		<div class="row">
		  <div class="col-md-12 grid-margin" style="width: 100%">
			<div class="card" style="width: 100%">
			  <div class="card-body" style="width: 100%">
				  <h2 id="stockName">股票名称</h2>
				<div class="row">
				  <div class="col-lg-3 col-md-6">
					<div class="d-flex">
					  <div class="wrapper">
						<h3 id="stockPrice" class="mb-0 font-weight-semibold">--</h3>
						<h5 class="mb-0 font-weight-medium text-primary">价格</h5>
						<p  id="rise-percent" class="mb-0 text-muted">--</p>
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
					<div class="d-flex">
					  <div class="wrapper">
						<h3 id="deal-amount" class="mb-0 font-weight-semibold">--</h3>
						<h5 class="mb-0 font-weight-medium text-primary">成交量</h5>
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
					<div class="d-flex">
					  <div class="wrapper">
						<h3 id="deal-cash" class="mb-0 font-weight-semibold">--</h3>
						<h5 class="mb-0 font-weight-medium text-primary">成交金额(亿元)</h5>
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
					<div class="d-flex">
					  <div class="wrapper">
						<h3 id="changeRate" class="mb-0 font-weight-semibold">--</h3>
						<h5 class="mb-0 font-weight-medium text-primary">换手率</h5>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="row" style="overflow:auto">
			<div class="col-md-4 grid-margin stretch-card">
				<div class="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
					<div class="card">
						<div class="card-body">
							<div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
								<h4 class="card-title mb-0">k线图</h4>
								<div class="d-flex flex-column flex-lg-row">
									<ul class="nav nav-tabs sales-mini-tabs ml-lg-auto mb-4 mb-md-0" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="kItem-statistics_switch_1"  onclick="kItemSwitchEvent(this)" data-toggle="tab" role="tab" aria-selected="true">日k</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="kItem-statistics_switch_2" onclick="kItemSwitchEvent(this)" data-toggle="tab" role="tab" aria-selected="false">周k</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="kItem-statistics_switch_3" onclick="kItemSwitchEvent(this)" data-toggle="tab" role="tab" aria-selected="false">月k</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="kItem-statistics_switch_4" onclick="kItemSwitchEvent(this)" data-toggle="tab" role="tab" aria-selected="false">年k</a>
										</li>
									</ul>
								</div>
							</div>
							<div id="stock-kitem" style="width:1000px; height: 600px" ></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="overflow:auto">
			<div class="col-md-4 grid-margin stretch-card">
				<div class="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
					<div class="card">
						<div class="card-body">
							<div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
								<h4 class="card-title mb-0">均线指标</h4>
								<div class="d-flex flex-column flex-lg-row">
									<ul class="nav nav-tabs sales-mini-tabs ml-lg-auto mb-4 mb-md-0" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="sales-statistics_switch_1" data-toggle="tab" role="tab" aria-selected="true">日均线</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="sales-statistics_switch_2" data-toggle="tab" role="tab" aria-selected="false">周均线</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="sales-statistics_switch_3" data-toggle="tab" role="tab" aria-selected="false">月均线</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="sales-statistics_switch_3" data-toggle="tab" role="tab" aria-selected="false">年均线</a>
										</li>
									</ul>
								</div>
							</div>
							<div id="stock-index" style="width:1000px; height: 600px" ></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="overflow:auto">
		  <div class="col-md-12 grid-margin">
			<div class="card">
			  <div class="card-body">
				<div class="d-flex justify-content-between pb-3">
				  <h4 class="card-title mb-0">股票信息</h4>
				</div>
				<ul class="timeline">
				  <li class="timeline-item">
					<p class="timeline-content" id="score"></p>
				  </li>
				  <li class="timeline-item">
					<p class="timeline-content" id="plateInfo"></p>
				  </li>
				  <li class="timeline-item">
					  <p class="timeline-content" id="technology"></p>
				  </li>
					<li class="timeline-item">
						<h4>请关注微信公众号<h4><img src="/images/c5bbdd98e861af4e0c09e3f149bc9e6.jpg"  alt="请关注微信公众号" />
					</li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- content-wrapper ends -->
	  <!-- partial:partials/_footer.html -->
	  <footer class="footer">
		<div class="container-fluid clearfix">
		  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; 2020 曹光曙 All rights reserved</span>
		  </span>
		</div>
	  </footer>
	  <!-- partial -->
	</div>
	<!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-3-typeahead/3.0.3/bootstrap3-typeahead.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/js/shared/off-canvas.js"></script>
<script src="/js/shared/net.js"></script>
<script src="/js/shared/misc.js"></script>
<!-- endinject -->
<!-- End custom js for this page-->
</body>
</html>